{% if page.comments != false %}

  <div id="giscus_thread"></div>

    <script src="https://giscus.app/client.js"
        data-repo="cabberley/cabberley.github.io"
        data-repo-id="R_kgDOKFCyUw"
        data-category="Comment"
        data-category-id="DIC_kwDOKFCyU84CYgNv"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://giscus.app/" rel="nofollow">comments powered by Giscus.</a></noscript>
{% endif %}